.navbar {
  height: auto;
  width: 100%;
  border: 1px solid black;
  background-color: #053565;
  box-sizing: border-box;
}
.navbar-container {
  display: flex;
  height: 80px;
}
.logo {
  width: 400px;
  margin: 0;
}

.navbar-menu {
  display: flex;
  align-items: center;
  font-family: "Righteous", cursive;
  padding: 20px 0;
  margin: 0 0 0 15%;
}
.menu-item > a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}
.menu-item > a:hover {
  text-decoration: underline;
}
