.car-container {
  height: auto;
  width: 395px;
  border: 1px solid white;
  padding: 10px;
  margin: 1% 0;
  border-radius: 5%;
  font-family: "Nunito Sans", sans-serif;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #ebf3ff;
}
.car-image > img {
  width: 395px;
  height: 250px;
  border-radius: 5%;
}
.car-name-info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 5px 0;
}
.car-name {
  font-size: 22px;
}
.car-year {
  border: 2px dotted #279eff;
  padding: 4px 10px;
  border-radius: 20%;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
  margin-right: 10px;
}
.car-general-info {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.car-general-info::after {
  content: " ";
  height: 1px;
  width: 100%;
  background-color: rgba(95, 95, 97, 0.3);
  margin: 10px 0;
}
.seats,
.fuel-type,
.mileage,
.gear-type {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 0px;
  margin: 0 5px;
  width: 40%;
  font-weight: 600;
  color: rgb(115, 113, 121);
}
.seats > svg,
.fuel-type > svg,
.mileage > svg,
.gear-type > svg {
  margin-right: 5px;
  color: #279eff;
}
.car-rent-info {
  display: flex;
  justify-content: space-between;
}
.rent-price {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.rent-price > span {
  font-size: 12px;
  margin-left: 5px;
}
.rent-buttons {
  display: flex;
  margin-right: 10px;
}
.favorite-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: #279eff;
  border: none;
  padding: 5px;
  margin-right: 15px;
  background-color: #bfe3fa;
}
.rent-button {
  font-weight: 600;
  background-color: #279eff;
  color: white;
  border-radius: 10px;
  padding: 2px 16px;
  border: none;
  font-family: "Nunito Sans", sans-serif;
}
